<div class="container mt-3  bg-light p-3">
    <form class="p-2">
        <h1>LOGIN</h1>
        <div class="row g-3 align-items-center py-2">
            <div class="col">
              <label for="inputusuario" class="col-form-label">Usuario</label>
            </div>
            <div class="col">
              <input #user type="text" id="inputusuario" class="form-control">
            </div>
        </div>
        <div class="row g-3 align-items-center py-2">
            <div class="col">
              <label for="inputPassword6" class="col-form-label">Password</label>
            </div>
            <div class="col">
              <input #pass type="text" id="inputPassword6" class="form-control">
            </div>
        </div>
        <button class="btn btn-outline-primary" type="button" (click)="login(user.value,pass.value)">LOGIN</button>
    </form>

    <div *ngIf="incorrecto" class="app-container">
        <p class="alerta">Credenciales incorrectas, inténtelo nuevamente</p>
    </div>

    <div *ngIf="bienvenida" class="mt-3">
        <div class="app-container">
            <p>Bienvenido usuario : {{users}}</p>
            <ul>
                <li *ngFor="let item of nav"><a href="#">{{item}}</a></li>
            </ul>
        </div>
    </div>
</div>
